<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ui.letcook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Controller.Home"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Controller.Forgotpass"></activity>
        <activity android:name=".Controller.Changepassword" />
        <activity android:name=".Controller.SearchActivity" />
        <activity
            android:name=".Controller.SignIn"
            android:screenOrientation="portrait" />
        <activity android:name=".Controller.SaveDishActivity" />
        <activity android:name=".Controller.History" />
        <activity android:name=".Controller.RecipeActivity" />
        <activity android:name=".Controller.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Controller.SignUp" />
    </application>

</manifest>