<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ui.letcook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Activity.Home"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity.Forgotpass"></activity>
        <activity android:name=".Activity.Changepassword" />
        <activity android:name=".Activity.SearchActivity" />
        <activity
            android:name=".Activity.SignIn"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.SaveDishActivity" />
        <activity android:name=".Activity.History" />
        <activity android:name=".Activity.RecipeActivity" />
        <activity android:name=".Activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.SignUp" />
    </application>

</manifest>